body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 150;
  background-image: url(http://kabegami.tank.jp/dog1/dog104/b.gif);
  background-repeat: repeat;
  background-color: #f9c2f7;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
  color: black;
  font-size: 35px;
}
h2 {
  color: black;
  font-size: 25px;
}
h4 {
  color: purple;
}
#summary {
  color: green;
}
h4 {
    color: #00BCD4;
}
#src {
  width: 180px
}
